<h1>dashboard</h1>

Previous Blogposts go here:
<div class="blogpost">
    <h2 class="blogpost-title"> {{title}}</h2>
    <h5 class="blogpost-date">date</h5>
    <div class="hidden">
        <text class="blogpost-body">
            {{post_content}}
        <h4 class="poster-username">{{user.username}}</h4>
    </div>
    {{#if logged_in}}
    <button>comment</button>
    {{/if}}
</div>


<button id="new-post-button">New Blog Post +</button>

<form id="newpost" class="hidden">
    <input id="title-input" placeholder="Enter new blog post title">
    <input id="content-input" placeholder="Enter content for blog post:">
    <button type="submit" id="post-button">submit</button>
</form>
<script src="./js/post.js"></script>
