dashboard
<h1>hello</h1>

<h6 id="goofball">im goofy</h6>

<div class="blogpost">
    <h2 class="blogpost-title"> Blog post title</h2>
    <text class="blogpost-text">
        sample blogpost text <br>
        this is sample text <br>
        this should really be lorem ipsum text <br>
        but im doing this anyway : ) </text>
</div>