login

<form id="login">
    <input id="login_email" type="text" placeholder="Email">
    <input id="login_password" type="password" placeholder="password">
    <button type="submit">login</button>
</form>
<form id="signup">
    <input id="signup_email" type="text" placeholder="Email">
    <input id="signup_username" type="text" placeholder="username">
    <input id="signup_password" type="password" placeholder="password">
    <button type="submit">login</button>
</form>

<script src="./js/login.js"></script>